/* line 1, atomic.scss */
.w-680 {
  width: 680px; }

/* line 5, atomic.scss */
.w-850 {
  width: 850px; }

/* line 9, atomic.scss */
.w-820 {
  width: 820px; }

/* line 13, atomic.scss */
.w-262 {
  width: 262px; }

/* line 16, atomic.scss */
.w-540 {
  width: 540px; }

/* line 20, atomic.scss */
.pb-39 {
  padding-bottom: 39px; }

/* line 24, atomic.scss */
.pb-63 {
  padding-bottom: 63px; }

/* line 27, atomic.scss */
.pt-60 {
  padding-top: 60px; }

/* line 31, atomic.scss */
.ml-2 {
  margin-left: 2%; }

/* line 35, atomic.scss */
.ml-auto {
  margin-left: auto; }

/* line 39, atomic.scss */
.w-15 {
  width: 15px; }

/* line 43, atomic.scss */
.w-20 {
  width: 20px; }

/* line 47, atomic.scss */
.pt-9 {
  padding-top: 9px; }

/* line 51, atomic.scss */
.pb-11 {
  padding-bottom: 11px; }

/* line 55, atomic.scss */
.pb-12 {
  padding-bottom: 12px; }

/* line 59, atomic.scss */
.mr-auto {
  margin-right: auto; }

/* line 63, atomic.scss */
.pb-29 {
  padding-bottom: 29px; }

/* line 67, atomic.scss */
.pb-31 {
  padding-bottom: 31px; }
