.w-680 {
  width: 680px;
}

.w-850 {
  width: 850px;
}

.w-820 {
  width: 820px;
}

.w-262 {
  width: 262px;
}
.w-540 {
  width: 540px;
}

.pb-39 {
  padding-bottom: 39px;
}

.pb-63 {
  padding-bottom: 63px;
}
.pt-60 {
  padding-top: 60px;
}

.ml-2 {
  margin-left: 2%;
}

.ml-auto {
  margin-left: auto;
}

.w-15 {
  width: 15px;
}

.w-20 {
  width: 20px;
}

.pt-9 {
  padding-top: 9px;
}

.pb-11 {
  padding-bottom: 11px;
}

.pb-12 {
  padding-bottom: 12px;
}

.mr-auto {
  margin-right: auto;
}

.pb-29 {
  padding-bottom: 29px;
}

.pb-31 {
  padding-bottom: 31px;
}