.bg-color-default {
  background: $bg-color-default;
}

.bg-color-primary {
  background: $bg-color-primary;
}

.bg-color-info {
  background: $bg-color-info;
}

.bg-color-success {
  background: $bg-color-success;
}

.bg-color-warning {
  background: $bg-color-warning;
}

.bg-color-danger {
  background: $bg-color-danger;
}

.text-color--default {
  color: $text-color-default;
}
.text-color--primary {
  color: $text-color-primary;
}
.text-color--info {
  color: $text-color-info;
}
.text-color--success {
  color: $text-color-success;
}
.text-color--warning {
  color: $text-color-warning;
}
.text-color--danger {
  color: $text-color-danger;
}

.text-color--black {
  color: $text-color-black;
}